#map{
  display: block;
  position:absolute;
  height:auto;
  bottom:0px;
  top:80px;
  left:0;
  right:0;
  margin-top:0px;
}


#pac-input {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 800px;
  margin-top: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input:focus {
  border-color: #4d90fe;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

#location-input, #business-input{
  width: 300px;
}

#location-input{
  margin-left: 20px;
}
#business-input{
  margin-right: 20px;
}

.custom-body{
  min-height:100%;
  text-align: center;
  color: #000;
  width: 100%;
  background-color: #e2e2e2;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding-top: 100px;
  padding-bottom: 20px;
}

.map-body{
  min-height:100%;
  text-align: center;
  color: #000;
  width: 100%;
  background-color: #262C3A;
  opacity: 0.9;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 80px 15px;
}

p.brand-name{
  font-size: 21px;
  font-weight: bold;
  color: #ffa154;
}
#bHome{
  margin:0;
  padding: 13px 0 0 0;
}
i{
  color: #ffa154;
}
#contact, #features, #intro, #contact, #gallery{
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

#topNav{
  background-color: white;
}

h1{
  color:#ffa154;
}

.cudos-img{
  opacity: 0.7;
}

video{
  width: 100%;
}

a:active{
  background: transparent;
  opacity: 0;
}
a:focus{
  outline: 0;
}

#review-button{
  float: none;
  display:inline;
  margin: 0px;
}
.business-banner{
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: 100%;
  -o-background-size: cover;
  background-color: gray;

}
.business-banner > p{
  color: white;
}
.alert-info {
  margin-bottom:0;
}

#iw-container .iw-title {
    font-size: 30px;
    font-weight: 400;
    padding: 10px;
    background-color:  #ffa154;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}
#iw-container a{
  background-color:  #ffa154;
}
#iw-container .iw-content {
    max-height: 500px;
}
#iw-container p {
      font-size: 15px;
}
.iw-subTitle {
    font-size: 19px;
    font-weight: 700;
    padding: 5px 0;
}
.modal-header .close{
  margin-top: -15px;
  font-size: 30px;
}
.modal textarea.form-control {
    height: 250px;
}
.popover{
    font-size: 10px;
    background-color: white;
    color: gray;
}
.custom-body a{
    color:  #ffa154;
}
.btn-warning{
  background-color: #ffa154 !important;
}
.modal-open {
  overflow: hidden;
  position: relative;
  left: -8px;
}
.stars{
    font-size: 24px;
    color: #ffa154;
}
#rating-label{
  margin-bottom: 0;
}
#employee-list{
  max-height: 400px;
  overflow-y: scroll;
}
.list-group-item{
  margin:0;
  padding: 5px;
}
.list-group-item p{
  margin:0;
}

#employee-profile{
  min-height: 360px;
  width: 100%;
}

#employee-profile h4{
  color: #ffa154;
}
#business-input, #location-input{
  font-weight: 600;
  color: black;
}

.card-block{
  margin-top: 100px;
}

a.btn{
  color: white;
}

#reviews-here label{
  margin-top: -20px;
}

#reviews-here p{
  margin: 0;
  font-size: 1em;
  line-height: 1.5;
  padding: 5px;
}
#reviews-here .card{
  padding: 10px;
}
.card .card-title{
  color: #ffa154 !important;
}
#business-banner .card-block{
  margin-top: 30px;
}
#business-banner p{
  font-size: 1em;
}
#business-banner h2{
  font-size: 40px;
}
#business-banner{
  margin: 10px;
}

#employee-card .card-block{
  margin-top: 30px;
}
#employee-card{
  margin: 10px;
  padding: 10px;
}
#reviews-card .card-block{
  margin-top: 30px;
}
#reviews-card{
  min-height: 500px;
  margin: 10px;
  padding: 10px;
}
#reviews-display{
  min-height: 313px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: -10px;
}
#employee-about{
  text-align: left;
}
#employee-about h4{
  margin-top: 0;
  margin-bottom: 0;
}
#employee-about .text-muted{
  color: #9099ae;
}

#employee-about p{
  font-size: 1em;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0;
}
